.home-container {
  width: 80%;
  margin: auto;
  padding-top: 3em;
}

.home-container h2 {
  background-color: white;
}

.pet-card {
  margin-top: 3em;
  display:flex;
  justify-content: center;
  margin-bottom: 3em;
}

a {
  text-decoration: none;
}

.cat-link {
  margin-bottom: 5em;
  background-color: lightgray;
  width: 30em;
  padding: 1em;
  padding-bottom: 3em;
  margin: 1em;
  border-radius: 15px;
}

.cat-link img {
  width: 20em;
  aspect-ratio: 0.68;
}

.cat-link p {
  color: black;
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
}

.dog-link {
  /* float: right; */
  background-color: lightgray;
  width: 30em;
  padding: 1em;
  margin: 1em;
  border-radius: 15px;
}

.dog-link img {
  width: 20em;
  aspect-ratio: 0.68;
}

.dog-link p {
  color:black;
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .pet-card {
    flex-direction: column;
  }

  .cat-link {
    width: 80%;
    margin: auto
  }

  .cat-link img {
    width: 8em;
    height: 13em
  }

  .dog-link {
    width: 80%;
    margin: auto;
    margin-top: 1em;
  }

  .dog-link img {
    width: 8em;
    height: 13em
  }
}

.fact-btn {
  padding: 1em;
  background-color: cadetblue;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
}
